{% extends 'base.html' %}

{% block content_balance %}
<form action="/submit_balance" method="post">
    <div class="form-group">
        <label class="form-label" for="money">Please enter Euro Value:</label>
    </div>
    <div class="typing-box">
        <input class="form-input" type="number" id="money" name="money" value="1.0" min="1.0" step="0.01" required>
    </div>
    <div class="form-group">
        <label class="form-label">Choose Operation Type:</label>
        <label class="form-radio custom-radio">
            <input type="radio" name="balance" value="Add" checked required>
            <i class="form-icon"></i> Add
        </label>
        <label class="form-radio custom-radio">
            <input type="radio" name="balance" value="Withdraw" required>
            <i class="form-icon"></i> Withdraw
        </label>
    </div>
    <div class="button-action">
        <button type="submit" class="button-action">Submit Balance</button>
    </div>
    {% if error_message_funds_again %}
        <p class="error-message" style="color: red;">{{ error_message_funds_again }}</p>
    {% endif %}
</form>
{% endblock %}

<!-- 
    <div class="container-button-submit">
        <div class="center">
        <button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>SUBMIT</span>
        </button>
        </div> -->

        <!-- <div class="button-submit">
            <button type="submit">Submit</button>
        </div> -->
<!-- 
        <div class="container-button-submit">
            <div class="center">
                <button type="submit" class="btn">
                    <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                    </svg>
                    <span>Submit for Purchase</span>
                </button>
            </div>
        </div> -->